.past-section,
.new-section {

  @include col-x {
    padding-bottom: 26rem;
    @include respond(tab-land) {
      padding-bottom: 0rem; 
    }
  }


  .col-3 {
    @include respond(tab-port) {
      display: none;
    }
  }

  .col-2 {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .box {
      width: 50%;
      color: #fff;
      position: relative;
      padding: 5rem 0 18rem 2.5rem;
      overflow: hidden;

      h2 {
        color: inherit;
      }

      span {
        font-size: 16rem;
        font-weight: bold;
        color: rgba(#fff, 0.4);
        position: absolute;
        right: -2rem;
        bottom: -9.5rem;
        

      }

      &:nth-child(1) {

        &::after {
          position: absolute;
          height: 9px;
          content: "";
          right: 0;
          width: 50%;
          background-color: $primary-color;
          top: 50%;
          transform: translateY(-50%);
        }

      }

      &:nth-child(2) {
        background-color: $blue;
        box-shadow: 0 1px 15px 2px rgba(#000, 0.1);
        position: relative;
      }

      &:nth-child(3) {
        background-color: $dark-blue;
      }

      &:nth-child(4) {
        background-color: $pink;
      }

    }

  }

  .col-4 {
    overflow: hidden;

    @include respond(tab-land) {
      padding: 2rem;
      text-align: center;
    }

    h1 {
      position: relative;
      right: 1rem;

      @include respond(tab-land) {
        margin-bottom: 7rem;
      }
      

      p {
        position: absolute;
        left: 4rem;
        color: rgba(#000, 0.15);
        font-size: 2.7rem;
        bottom: 2.2rem;
        @include respond(tab-land) {
          bottom: -4rem;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

    }

    .past-text {
      font-weight: 400;
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 1.8;
      width: 65%;
      color: rgba(#000, 0.7);
      margin-bottom: 5rem;
      @include respond(tab-land) {
        width: 100%;
        text-align: center;
        height: 8rem;
      }

    }

  }

}