.programs-container {
  background-color: $blue-white;
  position: relative;
  overflow-y: hidden;

  @include col-x {
    height: 79rem;

    @include respond(tab-land) {
      height: 42rem;
    }

    @include respond(phone) {
      height: 33rem;
    }

  }

  .col-1,
  .col-3 {
    display: none;
  }

  @-webkit-keyframes slideInDownPrograms {
    0% {
      transform: translate3d(0,-100%,0);
      visibility: visible;
    }

    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes slideInDownPrograms {
    0% {
      transform: translate3d(0,-100%,0);
      visibility: visible;
    }

    100% {
      transform: translateY(-50%);
    }
  }
  
  .slideInDownPrograms {
    -webkit-animation-name: slideInDownPrograms;
    animation-name: slideInDownPrograms;
  }

  .our-programs {
    position: absolute;
    width: 70%;
    height: 66%;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    left: 15%;
    background-image: url('./static/our-programs-bg.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: #fff;
    @include respond(tab-land) {
      flex-direction: column; 
      width: 100%;
      height: 90%;
      left: 0;
    }
    &--left,
    &--right {
      width: 50%;
      @include respond(tab-land) {
        width: 100%;
      }
    }

    &--left {
      padding-left: 7rem;
      @include respond(tab-land) {
        padding-left: 0;
      }

      h2 {
        color: $primary-color;
        font-size: 4.55rem;
        @include respond(tab-land) {
          color: #fff;
          text-align: center;
        }
      }

      .thumb {
        margin-top: 5rem;
        background-image: url('./static/our-programs-img.jpg');
        padding-top: 35%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 1px 10px 5px rgba(#000, .1);
      }

    }

    &--right {
      padding-left: 18rem;
      @include respond(tab-land) {
        padding-left: 2rem;
      }


      p {
        width: 80%;
        margin: 5rem 0;
        
      }

      .btn {
        padding: 1.7rem 4.5rem;
        background-color: #fff;
        color: $primary-color;

        &:hover {
          border: 1px solid transparent;
          background-color: $primary-color;
          color: #fff;
        }

      }

    }


    
  }

}