// Color Variables
$primary-color: #213142;
$primary-color-light: #55c57a;
$primary-color-dark: #28b485;
$pink: #FC427B;


// FONT 
$headingFont:'DM Sans', sans-serif;
$body-font: 'Poppins', sans-serif;

