.header {

  .col-2 {
    padding-top: 9rem;

    h1 {
      position: relative;
      right: 1rem;

      @include respond(tab-port) {
        right: 0;
      }

    }
    

    p {
      color: $primary-color-light;
      font-size: 2rem;
      width: 50%;
      line-height: 2;
      margin-bottom: 7rem;
      margin-top: 24rem;
    }

  }

  .col-3 {
    width: 0;
  }


  .col-4 {
    background-image: url('./static/header-bg.png');
    background-position: center;
    background-size: 100% 100%;
    flex-grow: 1;
  }

}