.footer {
  padding: 8rem 13rem;
  padding-right: 2rem;
  display: flex;
  
  @include respond(tab-land) {
    text-align: center;
    padding: 2rem;
    flex-direction: column;
  }

  &-left {
    width: 30%;
    @include respond(tab-land) {
      width: 100%;
      margin-bottom: 2rem;
    }

    p {
      width: 70%;
      margin-top: 2rem;
      color: rgba($primary-color, .5);
      font-size: 1.45rem;
      font-weight: 600;

      @include respond(tab-land) {
        width: 100%;
        padding: 0 5rem;
      }

    }

  }

  &-company,
  &-expand,
  &-help {
    width: 25%;
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      width: 100%; 
      margin-bottom: 1rem;
    }

    h5 {
      color: $primary-color;
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    a {
      color: rgba($primary-color, .5);
      text-decoration: none;
      font-weight: 600;
      font-size: 1.6rem;
      margin-bottom: 1rem;

      &:hover {
        transition: all .3s;
        color: $primary-color;
      }

    }

  }


  

}