nav {
  

  @include col-x {
    padding: 4.5rem 0 4.5rem 4.5rem;
  }

  .col-1 {
    display: flex;
    justify-content: flex-end;

    h2 {

      span {
        color: $pink;
      }

    }

  }

  .col-4 {
  }

}